// Fonts
@font-face {
  font-family: "MaplestoryOTFLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// Config
@import "./config/_variable.scss";
@import "./config/_reset.scss";

// Components
@import "./components/forms.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components//shared.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";

// Screens
@import "./screens/home.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";

// Defaults

* {
  box-sizing: border-box;
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "MaplestoryOTFLight";
  height: 100vh;
  overflow-y: scroll;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 26px;
  padding-top: 120px;
}

@keyframes goAway {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  15%,
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 260px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;

  animation: goAway 5s ease-in-out forwards;

  z-index: 99;
  color: white;
  &.error {
    background-color: rgb(255, 99, 71);
  }
  &.info {
    background-color: rgb(227, 134, 255);
  }
  &.sucess {
    background-color: rgb(77, 175, 255);
  }
}

hr {
  margin-top: 20px;
}

.preload {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

:root[color-theme="dark"] {
  body,
  header {
    color: rgb(250, 250, 250);
    background-color: $dkbg;
  }
  header {
    .header__btn {
      background-color: rgb(51, 51, 51);
      color: white;
      &:hover {
        background-color: rgb(122, 122, 122);
      }
    }
  }
  a {
    &:hover {
      color: $dkbghover;
    }
  }

  .social__btn--github {
    color: azure;
  }

  .video__function--btn,
  .profile__data-btns,
  .profile__data-btns a,
  .video__comment-btn {
    background-color: rgb(51, 51, 51);
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:hover {
      background-color: rgb(122, 122, 122);
    }
  }

  .join__form,
  .login__form,
  .edit-profile__form,
  .edit-video__form {
    padding: 30px;
    background-color: rgba($color: $dkformbg, $alpha: 0.8);
    border-radius: 15px;
    border: 1px white solid;
    box-shadow: 4px 2px 2px #b6b6b6;
    transition: background-color 0.3s ease-in-out;
  }

  .upload__video {
    background-color: rgba($color: $dkformbg, $alpha: 0.8);
    box-shadow: 4px 2px 2px #b6b6b6;
    transition: background-color 0.3s ease-in-out;
  }

  #mode-check {
    box-shadow: 2px 1px 10px #b6b6b6;
    color: yellow;
  }

  .video__hashtags {
    color: rgba($color: #538fff, $alpha: 0.8);
  }
}

:root:not([color-theme="dark"]) {
  body,
  header {
    color: black;
    background-color: $bg;
  }

  header {
    .header__btn {
      background-color: white;
      color: #161616;
      &:hover {
        background-color: rgb(199, 228, 255);
      }
    }
  }

  a {
    &:hover {
      color: $bghover;
    }
  }

  .social__btn--github {
    color: #161616;
  }

  .video__function--btn,
  .profile__data-btns,
  .profile__data-btns a,
  .video__comment-btn {
    background-color: white;
    color: #161616;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:hover {
      background-color: rgb(199, 228, 255);
    }
  }

  .join__form,
  .login__form,
  .edit-profile__form,
  .edit-video__form {
    padding: 30px;
    background-color: rgba($color: $formbg, $alpha: 0.8);
    border-radius: 15px;
    border: 1px white solid;
    box-shadow: 4px 2px 2px #8fb6ff;
    transition: background-color 0.3s ease-in-out;
  }

  .upload__video {
    background-color: rgba($color: $formbg, $alpha: 0.8);
    box-shadow: 4px 2px 2px #8fb6ff;
    transition: background-color 0.3s ease-in-out;
  }

  #mode-check {
    border: 1px white solid;
    box-shadow: 2px 1px 10px #538fff;
    color: red;
  }

  .video__hashtags {
    color: rgb(8, 92, 201);
  }
}
