.profile__data {
  width: 100%;
  min-width: 300 px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .profile__data-user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__data-btns a {
    position: absolute;
    margin-left: 50px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  img {
    margin-bottom: 10px;
    max-height: 250px;
  }

  h3 {
    font-size: 18px;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
