.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 30px;
  margin-top: 30px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social__btn--github {
    background-color: #444444;

    i {
      color: #ffffff;
      font-size: 22px;
      margin-right: 7px;
    }
    p {
      color: #ffffff;
      opacity: 0.85;
    }
    transition: background-color 0.3s linear;
    &:hover {
      background-color: #5a5a5a;
    }
  }

  .social__btn--kakao {
    background-color: #fee500;
    i {
      color: #000000;
      font-size: 22px;
      margin-right: 7px;
    }
    p {
      color: #000000;
      opacity: 0.85;
    }
    transition: background-color 0.3s linear;
    &:hover {
      background-color: #fff068;
    }
  }
}
