#videoContainer {
  width: 100%;
  position: relative;

  .videoBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: black;

    video {
      height: 100%;
    }
  }

  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.mouseon_video {
      opacity: 1;
    }

    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 0.1fr 0.4fr 2fr 1fr;
    gap: 10px;
    justify-content: space-between;
    left: 0;
    box-sizing: border-box;
    font-size: 12px;

    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .videoControls__time {
      margin-left: 10px;
      display: flex;
      align-items: center;
    }

    .videoControls__volume {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        margin: 0 10px;
      }
    }

    .videoControls__screen {
      display: flex;
      justify-content: flex-end;
    }

    .videoControls__timeline {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
}
