extends ./base

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="username", placeholder="UserName", type="text", required)
        input(name="password", placeholder="Password", type="password", required)
        input(value="Login", type="submit")

        br
        a(href="/users/github/start") Continue with Github &larr;
        br
        a(href="/users/kakao/start") Continue with Kakao &larr; 
    hr
    div
        span Don't have an account? 
        a(href="/join") Log in now &larr;