extends ./base

block content
    div.upload__container
        div.upload__video
            video#preview
            div.upload__video-footer
                button#actionBtn.social__btn 녹화 시작
                span.upload__video-comment 녹화를 통해 10초 내의 영상을 다운로드 하실 수 있습니다
        if errorMessage
            span=errorMessage
        div.upload__form
            form(method="POST", enctype="multipart/form-data")
                label(for="video") 영상 파일 (10 MB 이하의 영상만 등록 가능합니다.)
                input(name="video", type="file", accept="video/*", required, id="video")
                label(for="thumb") 영상 썸네일
                input(name="thumb", type="file", accept="image/*", required, id="thumb")
                input(name="title", placeholder="제목", type="text", required, minlength=5, maxlength=40)
                input(name="description", placeholder="설명", type="text", required, minlength=5)
                label(for="hashtags") 해시 태그는 콤마( , )로 구분됩니다
                input(name="hashtags", placeholder="당신만의 해시 태그를 남겨주세요", type="text" required, id="hashtags")
                input(type="submit", value="영상 업로드")

block scripts 
    script(src="/static/js/videoRecorder.js")