div.social-login
    a(href="/users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |  깃허브로 연결하기 &larr;
    br
    a(href="/users/kakao/start").social__btn.social__btn--kakao
        i.fas.fa-comment
        |  카카오로 연결하기 &larr; 