div.social-login
    a(href="/users/github/start").social__btn.social__btn--github
        div
            i.fab.fa-github
            p  깃허브로 시작하기
    br
    a(href="/users/kakao/start").social__btn.social__btn--kakao
        div
            i.fas.fa-comment
            p  카카오로 시작하기