extends ../base

block content
    form.edit-profile__form(method="POST", enctype="multipart/form-data")
        label(for="avatar") 아바타 이미지
        input(type="file", id="avatar", name="avatar", accept=".png, .jpg, .jpeg")

        label(for="name") 이름
        input(name="name", id="name", placeholder="이름", type="text", value=loggedInUser.name, required)

        label(for="username") 사용자 이름은 아이디로 사용됩니다.
        input(name="username", id="username", placeholder="사용자 이름", type="text", value=loggedInUser.username, required)

        label(for="location") 거주 지역
        input(name="location", id="location", placeholder="거주 지역", type="text", value=loggedInUser.location)

        input(type="submit", value="프로필 수정 완료")

        if !loggedInUser.createdSocialLogin
            hr
            div.edit-profile__password
                a(href="change_password") 비밀 번호를 변경하고 싶다면? &larr;